@font-face {
    font-family: 'SunBatang-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    color: white;
    text-decoration: none;	
}
html {
    cursor: url(../img/cursor_1.png) 32 32, auto;
}
a {
    cursor: url(../img/cursor_2.png) 32 32, pointer;
 }
.can_click {
    cursor: url(../img/cursor_2.png) 32 32, pointer;
}

header {
    z-index: 2000;
}

header svg {
    z-index: 2000;
}

body {
    background: black;
    font-family: 'SunBatang-Light', 'Noto Serif SC';
}

.container {
    width: 950px;
    margin: 150px auto 500px auto;
    
}

.flex {
    display: flex;
    justify-content: center;
}

#header {
    transition: top 0.3s;
    position: fixed;
    top: 0;
}
