@font-face {
    font-family: 'SunBatang-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    color: white;
}

body {
    background: black;
    font-family: 'SunBatang-Light';
}

.container {
    width: 950px;
    margin: 150px auto 500px auto;
}

.flex {
    display: flex;
    justify-content: center;
}

#header {
    transition: top 0.3s;
    position: fixed;
    top: 0;
}
