@import url(all.css);

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,300&display=swap');

.poster {
    width: 100%;
    text-align: center;
}

.poster img {
    cursor: pointer;
}

.zoom {
    width: 65rem;
}

.zoom2 {
    width: 90rem;
}

.bigsmall {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 6rem;
}

.bigsmall p {
    font-size: 2rem;
    display: inline-block;
    text-align: center;
}

.small_star {
    margin: -0.5rem 0;
    width: auto;
    height: 2.2rem;
}

.star {
    display: flex;
    justify-content: center;
    margin: 15rem 0 15rem 0;
}

.info {
    margin: 0 auto 10rem auto;
    width: 80%;
    color: white;
    font-size: 2rem;
}

.info .title {
    text-align: center;
    margin: 5rem 0;
    color: white;
}

.info_box {
    margin: 10rem 0;
    text-align: center;
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: -0.2rem;
}

.info_box > div {
    margin: 5rem 0;
}

.info_box div p {
    line-height: 4.5rem
}

.content_box p {
    font-weight: lighter;
    margin-top: 3rem;
    line-height: 3.5rem;
    word-break: keep-all;
    letter-spacing: -0.1rem;
}

.img {
    width: 100%;
}

.img img {
    width: 100%;
    margin: 3rem 0;
}

.background {
    width: 100%;
    z-index: -10;
    position: absolute;
}

.sticky {
    position: fixed;
    bottom: 0;
    z-index: -10;
    width: 100%;
}


