.st0 {
    opacity: 0.5;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: rgba(255, 255, 255, 0);
}

.audioplay{
    fill: rgb(20, 0, 255);
    cursor: pointer;
}

.audiostop{
    fill: rgb(255, 0, 0);
    cursor: pointer;
    display: none;
}

.st3 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 0.85;
    stroke-miterlimit: 10;
}

.bottom_bg {
    display: none;
}

.b_i {
    display: none;
}

.hstar {
    display: none;
}

.bstar {
    display: none;
}
