@import url(all.css);

.star {
    margin: 10rem 0px;
}

.title {
    font-size: 3rem;
    margin: 10rem 0;
}

.img_box {
    width: 100%;
}

.img_box img {
    width: 100%;
    margin: 2rem 0;
}

.t_1 {
    height: 7.5rem;
}

.content_box {
    margin-bottom: 15rem;
}

.bg {
    background: url(../img/temple/background.jpg) no-repeat;
    background-size: 100% auto;
    position: fixed;
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    z-index: -1;
}