@import url(all.css);
body {
    background: black;
    background-image: url(img/background.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.poster {
    width: 100%;
    height: 900px;
    background: white;
}
.info {
    margin: 0 auto;
    text-align: center;
    border: 1px white solid;
    width: 80%;
    color: white;
}
.info .star {
    display: flex;
    justify-content: center;
}
.info .star > div {
    background: white;
    width: 20px;
    height: 20px;
}
.info .title {
    color: white;
    font-size: 3rem;
    font-weight: bold;

}
.img {
    width: 100%;
    height: 300px;
    background: tomato;
    margin-top: 20px;

    
}