@import url(all.css);


.poster {
    width: 100%;
}
.poster img {
    width: 100%;
}
.star {
    display: flex;
    justify-content: center;
}
.info {
    margin: 150px auto;
    width: 80%;
    color: white;
    font-size: 2rem;
}
.info .title {
    text-align: center;
    margin: 100px 0;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.info_box {
    margin: 100px 0;
    text-align: center;
}
.info_box>div {
    margin: 50px 0;
}
.info_box div p {
    line-height: 1.5em
}
.content_box p {
    font-weight: lighter;
    margin-top: 3rem;
    line-height: 3rem;
    
}
.img {
    width: 100%;
}
.img img {
    width: 100%;
    margin: 30px 0;
}
.background {
    width: 100%;
    z-index: -10;
    position: absolute;
}
.sticky {
    position: fixed;
    bottom: 0;
    z-index: -10;
    width: 100%
}